<header class="slider slider-prlx">
        
<section class="min-area text-light section-padding text-dark  bg-count-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">

                <div class="content p-0">

                    <div class="sec-head mb-2 mt-4 update-sale small smaller">
                    Learn to Trade <br><span class="color-font-2">Like Professionals</span>

                </div>
                <h4 class="text-light">
                    Become a Professional Trader by Learning from Dream Academy Mentors
                    
                </h4>
                <p  class="text-light small">
                    
                    Dream Academy is the Leading Institute for Stock Market in India (Jabalpur)
                    where we'll teach you not only how to trade in the shares market but also
                    how to make Regular Income out of our Advance Trading Software Profit Gainer
                    2.0. It Provides Multiple Level of Confirmation to Trade in the Share
                    Market. Also you will get Deep Understanding of 
                </p>
                <h6  class="text-light" style="line-height: 35px; font-size: 16px;"> <strong>
                    1. Risk Reward
                    <br>2. Risk Management
                    <br>3. Small Loss and Big Profits</strong>
            </h6>
            <a data-toggle="modal" data-target="#register-now" class="bord  butn neown curve mt-30">
                <span>Register Now</span>
            </a>        


                </div>


            </div>
            <div class="col-lg-6">
                <div class="lght-dark-bg">

                    <h6 class="text-light mb-3">Register Now
                    </h6>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="mobile" placeholder="Mobile No.">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email ID">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option>-Please Select-</option>
                                <option>Classes</option>
                                <option>Software</option>
                                <option>Legal Work</option>
                            </select>
                        </div>
                        <button type="submit" class="btn butn curve bg-yellow w-100 font-bold text-uppercase mt-10">Submit</button>
                    </form>
                    
                   

                   
                    
                </div>
            </div>
        </div>
    </div>
</section>
</header>

<section class="work-carousel2 vd-bck metro section-padding text-white">
    <div class="container">
            <video autoplay muted loop id="myVideo">
                <source src="../../../assets/images/pexels-rodnae-productions.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        </section>

        <!-- Slider -->

        <section class="services bg-4 bords section-padding text-dark">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="sec-head  text-center">
                            <h6 class="wow fadeIn" data-wow-delay=".1s">Best Features</h6>
                            <h3 class="wow color-font animated">Why you Should Choose Dream Academy</h3>
                            <p>So, why Dream Software & Share Market Classes are the best to Use. There are a few critical
                                features of Dream Academy that makes them best to Start a New Career in Stock Market.</p>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".2s">
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="../../../assets/images/feat-1.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title"><a href="#">Easy to Use Trading Software (Profit Gainer)</a></h3>
        
        
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-delay=".2s">
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="../../../assets/images/feat-2.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title"><a href="#">Learn to Trade like a Pro</a></h3>
        
        
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".2s">
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="../../../assets/images/feat-3.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title"><a href="#">Basic to Advance Courses</a></h3>
        
        
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight" data-wow-delay=".2s">
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="../../../assets/images/feat-4.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title"><a href="#">Lifetime Support after the Course</a></h3>
        
        
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeIn" data-wow-delay=".2s">
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="../../../assets/images/feat5.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title"><a href="#">Deep Understanding of Risk Reward
                                    </a></h3>
        
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-6  wow fadeIn" data-wow-delay=".2s">
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="../../../assets/images/feat6.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title"><a href="#">NISM Certified Profitable Trader who trained more than 20000+
                                        Students
        
                                    </a></h3>
        
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeIn" data-wow-delay=".2s">
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="../../../assets/images/feat7.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title"><a href="#">Flexible Batch Timings
                                    </a></h3>
        
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeIn" data-wow-delay=".2s">
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="../../../assets/images/feat8.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title"><a href="#">Personal Attention & Career Guidance to Every Student
                                    </a></h3>
        
                            </div>
                        </div>
                    </div>
        
        
                </div>
        
                
                <div class="text-center">
                    <a data-toggle="modal" data-target="#register-now" class="butn bg-danger curve mt-10 wow fadeInUp" data-wow-delay=".2s"><span>Register
                        now!</span></a>
                    </div>
        
        
            </div>
        </section>



<section class="min-area bg-light section-padding text-dark bg-2">
    <div class="container-fluid pr-5">
        <div class="row">
            <div class="col-lg-6">

                <div class="content">
                    <h4 class="color-font">Why Choose Profit Gainer as Your Trading Partner

                    </h4>
                    <p class="wow txt" data-splitting>So, why Dream Software & Share Market Classes are the best to
                        Use. There are a few critical features of Dream Academy that makes them best to Start a New
                        Career in Stock Market.

                    </p>
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay=".2s">
                        <li class="wow fadeInUp" data-wow-delay=".2s"><strong class="text-danger">Control and Flexibility:</strong>
                            Profit Gainer puts you in the driver's seat, giving you complete control over your
                            trading decisions and strategies.
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".2s"><strong class="text-danger">Data-Driven Decisions:</strong> Make
                            informed decisions backed by real-time market data and technical analysis.
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".2s"><strong class="text-danger">Improved Trading Efficiency:
                            </strong>Experience faster and more efficient trading with our user-friendly platform
                            and one-click trading feature.</li>
                        <li class="wow fadeInUp" data-wow-delay=".2s"><strong class="text-danger">Constant Support:</strong> Our dedicated support team is here to assist you whenever you need help or have any questions. </li>
                        <li class="wow fadeInUp" data-wow-delay=".2s"><strong class="text-danger">Security & Reliability:</strong> Trust in our platform's security measures to protect your data and investments. Live data is connected through NSE & BSE so that the prices of script is same and in Brokers Platform.</li>
                        

                    </ul>


                    <div class="sec-head mb-0 mt-4">

                        <h5 class="wow color-font animated">Unlock the potential of manual trading with Profit
                            Gainer 2.0 - the ultimate manual trading software.
                        </h5>


                    </div>
                   
                </div>


            </div>
            <div class="col-lg-6 valign">
                <iframe width="100%" height="580" src="https://www.youtube.com/embed/aHwA3eHOpYE?autoplay=1 ">
                </iframe>
            </div>
        </div>

        <div class="text-center mt-4">
            <a data-toggle="modal" data-target="#register-now"
                class="butn bg-danger curve mt-10 wow fadeInUp" data-wow-delay=".2s"><span>Register
                    now!</span></a>
                    </div>
    </div>


</section>
        


<section class="services working-section text-center bg-4 text-dark bords section-padding ">
    <div class="container">
        <div class="sec-head  text-center">
            <h3 class="wow fadeIn color-font animated">How it Works</h3>
            <p>Tempore corrupti temporibus fuga earum asperiores fugit. Tempore corrupti temporibus fuga earum
                asperiores fugit.</p>
        </div>

        <div class="content-inner clearfix">
            <div class="working-block-one">
                <div class="inner-box">
                    <div class="static-content">
                        <div class="icon-box"><img src="../../../assets/images/icons/icon-17.png" alt=""></div>
                        <h4>Connect</h4>
                        <p>Register now and...</p>
                    </div>
                    <div class="overlay-content">
                        <h4>Connect</h4>
                        <p>Register now and connect with our executive for Free of cost Demo.</p>
                    </div>
                    <span class="count-text">Step 01</span>
                </div>
                <div class="link"><span><i class="fa fa-arrow-right"></i></span></div>
            </div>
            <div class="working-block-one">
                <div class="inner-box">
                    <div class="static-content">
                        <div class="icon-box"><img src="../../../assets/images/icons/icon-18.png" alt=""></div>
                        <h4>Purchase</h4>
                        <p> Purchase the software...</p>
                    </div>
                    <div class="overlay-content">
                        <h4>Purchase</h4>
                        <p> Purchase the software and send the payment screenshot to our executive whatsapp number.
                        </p>
                    </div>
                    <span class="count-text">Step 02</span>
                </div>
                <div class="link"><span><i class="fa fa-arrow-right"></i></span></div>
            </div>
            <div class="working-block-one">
                <div class="inner-box">
                    <div class="static-content">
                        <div class="icon-box"><img src="../../../assets/images/icons/icon-19.png" alt=""></div>
                        <h4>Installation </h4>
                        <p>Installation will be...</p>
                    </div>
                    <div class="overlay-content">
                        <h4>Installation</h4>
                        <p>Installation will be done to your PC/ Laptop/ Macbook within 24 hours of purchasing.</p>
                    </div>
                    <span class="count-text">Step 03</span>
                </div>
                <div class="link"><span><i class="fa fa-arrow-right"></i></span></div>
            </div>
            <div class="working-block-one">
                <div class="inner-box">
                    <div class="static-content">
                        <div class="icon-box"><img src="../../../assets/images/icons/icon-20.png" alt=""></div>
                        <h4>Training </h4>
                        <p>After installation in...</p>
                    </div>
                    <div class="overlay-content">
                        <h4>Training </h4>
                        <p>After installation in client system half an hour Training will be provided so that you
                            can access to all features of Profit gainer software.</p>
                    </div>
                    <span class="count-text">Step 04</span>
                </div>
            </div>
        </div>

        
        <div class="text-center mt-4">
            <a data-toggle="modal" data-target="#register-now" class="butn bg-danger curve mt-10 wow fadeInUp" data-wow-delay=".2s"><span>Register
                now!</span></a>
            </div>

    </div>
</section>


<section class="services working-section text-white bg-light-clr bords section-padding">
    <div class="container">
        <div class="sec-head  text-center">
            <h3 class="wow fadeIn text-dark animated">Who should Join us</h3>
            <p>Our courses are widely attended by people from a varied background including...</p>
        </div>

        <div class="row why-join-sec text-center">
            <div class="col-md-3">
                <div class="con-st">
                    <img src="../../../assets/images/icons/004-businessman.png" />
                    <h4>
                        Businessman
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="con-st">
                    <img src="../../../assets/images/icons/005-student.png" />
                    <h4>
                        Students
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="con-st">
                    <img src="../../../assets/images/icons/002-software-engineer.png" />
                    <h4>
                        Engineers
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="con-st">
                    <img src="../../../assets/images/icons/007-owner.png" />
                    <h4>
                        MBA PRofessionals
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="con-st">
                    <img src="../../../assets/images/icons/003-employee.png" />
                    <h4>
                        Salaried Professionals
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="con-st">
                    <img src="../../../assets/images/icons/006-accounting.png" />
                    <h4>
                        Charted Accountants
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="con-st">
                    <img src="../../../assets/images/icons/housewife.png" />
                    <h4>
                        Housewife's
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="con-st">
                    <img src="../../../assets/images/icons/001-retirement.png" />
                    <h4>
                        Retired individuals
                    </h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="con-st">
                    <img src="../../../assets/images/icons/008-stock-market.png" />
                    <h4>
                        Anybody who is interested to learn and earn in the stock market
                    </h4>
                </div>
            </div>
        </div>
        <h6 class="wow animated animated">Welcome to the world of manual trading made smarter and more efficient
            with Profit Gainer 2.0. Designed for traders who prefer hands-on control, Profit Gainer 2.0 empowers you
            with cutting-edge tools and features to make informed decisions and maximize profits in the financial
            markets. Take your trading game to the next level with our intuitive platform.

        </h6>

        
        <div class="text-center">
            <a data-toggle="modal" data-target="#register-now" class="butn bg-danger curve mt-10 wow fadeInUp" data-wow-delay=".2s"><span>Register
                now!</span></a>
            </div>
    </div>
</section>


<section class="faq metro section-padding blog bg-grad text-light">
    <div class="container">
        <div class="sec-head text-center">
            <h6 class="wow fadeIn" data-wow-delay=".5s">FAQ</h6>
            <h3 class="wow animated">Frequently Asked Questions</h3>
            <p>Tempore corrupti temporibus fuga earum asperiores fugit. Tempore corrupti temporibus fuga
                earum asperiores fugit.</p>
        </div>



    <div class="row">
        <div class="col-md-3">
            <!-- Tabs nav -->
            <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
             
                    <span class="small font-weight-bold">
                        <i class="fa fa-star mr-2"></i> 
                        Tests Series</span></a>

                <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                    <span class="small font-weight-bold">
                        <i class="fa fa-star mr-2"></i> 
                        Tests Series</span></a>

                
                    
                </div>
        </div>


        <div class="col-md-9">
            <!-- Tabs content -->
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h5 class="font-weight-bold mb-4 text-dark">Test Series</h5>
                    <div id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1. How I can view the Test Series Schedule?
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                For detailed Test Series Schedule, you have visit on home page. The schedule can be viewed directly from cstestseries.com
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. What will be the pattern of Test Series Question Papers?
                              </button>
                            </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                The chapters of a particular subject are divided into 4 parts & there will be 4 Unit Tests of 50 Marks each, chapters will be covered as per the schedule & 1 Final Tests of 100 Marks which covers the entire syllabus. The pattern of Test Series Question Papers will be as per the Institute Exams.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                3. How I can purchase the Test Series?
                              </button>
                            </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                In the Home page find the Get (Search) button tab, select your Course (CA/CS/CMA), Product (Test Series) and Level (Foundation/Inter/Final) and Click on the Get (Search) button.
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                
                <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    
                    <h5 class="font-weight-bold mb-4 text-dark">Test Series</h5>
                    <div id="accordion2">
                        <div class="card">
                          <div class="card-header" id="headingOne1">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                1. How I can view the Test Series Schedule?
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordion2">
                            <div class="card-body">
                                For detailed Test Series Schedule, you have visit on home page. The schedule can be viewed directly from cstestseries.com
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo2">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                2. What will be the pattern of Test Series Question Papers?
                              </button>
                            </h5>
                          </div>
                          <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion2">
                            <div class="card-body">
                                The chapters of a particular subject are divided into 4 parts & there will be 4 Unit Tests of 50 Marks each, chapters will be covered as per the schedule & 1 Final Tests of 100 Marks which covers the entire syllabus. The pattern of Test Series Question Papers will be as per the Institute Exams.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree3">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                3. How I can purchase the Test Series?
                              </button>
                            </h5>
                          </div>
                          <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3" data-parent="#accordion2">
                            <div class="card-body">
                                In the Home page find the Get (Search) button tab, select your Course (CA/CS/CMA), Product (Test Series) and Level (Foundation/Inter/Final) and Click on the Get (Search) button.
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                
                
            </div>
        </div>
    </div>

      
    </div>
    
    </section>

    <section class="number-sec section-padding bg-light text-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="sec-head  text-center">
                        <h6 class="wow fadeIn" data-wow-delay=".5s">FUN FACTS</h6>
                        <h3 class="wow color-font animated">Pleasure in the job puts
                            perfection in the work.</h3>
                        <p>Tempore corrupti temporibus fuga earum asperiores fugit. Tempore corrupti temporibus fuga
                            earum asperiores fugit.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="item itm-1 no-bord sm-mb50">
                        <span class="icon pe-7s-smile"></span>
                        <h3 class=""><span class="count">1</span>Lakh+</h3>
                        <p class="wow txt" data-splitting>Happy Customers</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item itm-2 no-bord sm-mb50">
                        <span class="icon pe-7s-portfolio"></span>
                        <h3 class=""><span class="count">10000</span>+</h3>
                        <p class="wow txt" data-splitting>Active Users Per Month</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item itm-3 no-bord">
                        <span class="icon pe-7s-medal"></span>
                        <h3 class=""><span class="count">100</span>+</h3>

                        <p class="wow txt" data-splitting>Employees</p>
                    </div>
                </div>
            </div>

               
            <div class="text-center mt-2">
                <a data-toggle="modal" data-target="#register-now" class="butn bg-danger curve mt-10 wow fadeInUp" data-wow-delay=".2s"><span>Register
                    now!</span></a>
                </div>
        </div>
    </section>

    <div class="calltoaction bg-light-2" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6  pt-3  pb-3 ">

                    <div class="content sm-mb30">
                        <!-- <h6 class="wow" data-splitting>join Free Whatsapp Group</h6> -->
                        <h2   data-toggle="modal" data-target="#register-now" class="wow blink_me" data-splitting>For free Live Demo <br> <b
                                class="back-color back-color-2 pl-2  pr-2">register&nbsp;&nbsp;Now</b></h2>
                    </div>

                </div>
                <div class="col-md-6"
                    style="background:url(../../../assets/images/portfolio/homepage-9-parallax-img3.jpg) center center; background-size: cover; border-top-left-radius: 50px; border-bottom-left-radius: 50px;">

                </div>


            </div>

        </div>
    </div>
